# Code
node_modules/

# Linux
*.o
src/tags

# Mac
src/xxd/xxd.dSYM
*.DS_Store
*xcuserstate

# Windows
*.exe
*.idb
*.manifest
*.exp
*.obj
*.pdb
*.ilk
*.sln
*.suo
*.res
*.RES

# All
*.rej
*.orig
*.mo
*.swp
*~
*.pyc
