# Code
node_modules/

# Build
build/

# GNU Autoconf
# GNU Automake
Makefile.in
aclocal.m4
autom4te.cache/
autotools/
configure
src/config.h.in

# Linux
*.o
tags

# Mac
src/xxd/xxd.dSYM
*.DS_Store
*xcuserstate
*xcuserdata

# Windows
*.exe
*.idb
*.manifest
*.exp
*.obj
*.pdb
*.ilk
*.sln
*.suo
*.res
*.RES

# All
*.rej
*.orig
*.mo
*.swp
*~
*.pyc
