# Build
build/

# Documentation
doc/

# Assets
assets/

# GNU Autoconf
# GNU Automake
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autotools/
config.status
configure
include/config.h
include/config.h.in
libtool
src/bina
stamp-h1

# Linux
*.a
*.o
*.Po
*.Tpo
tags

# Mac
src/xxd/xxd.dSYM
*.DS_Store
*xcuserstate
*xcuserdata
*.la
*.lo
.dirstamp

# Windows
*.exe
*.idb
*.manifest
*.exp
*.obj
*.pdb
*.ilk
*.sln
*.suo
*.res
*.RES

# All
*.log
*.mo
*.orig
*.pyc
*.rej
*.swp
*~
