# Temp
*~

# Log
*.log

# Autoconf
/autom4te.cache/
/autotools/
/src/config.h*
aclocal.m4
config.status
configure
Makefile
Makefile.in
stamp-h1

# Build
/build/
*.deps
*.la
*.lo
*.so
*.o

# Tags
tags
*.taghl
